$spacing-0: 0px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-600: 48px;
$spacing-700: 56px;
$spacing-800: 64px;
$clr-grey-800: #444444;
$clr-grey-500: #A0A0A0;
$clr-grey-200: #D8D8D8;
$clr-grey-100: #EFEFEF;
$clr-grey-50: #FAFAFA;